@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Satisfy&display=swap');



/*----------------------------------------------------------General section*/

@media screen and (min-width: 1000px) {
    section {
        height: 650px;
        width: 100%;
    }
   
}



body{
    background-color: initial;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y:auto;
    
}

header {
    margin: 0;
}


h1, h2 {
    white-space:nowrap;
}


/*----------------------------------------------------------Color*/
.logo {
    color:aliceblue;
}

#menu li a {
    color: aliceblue;
}

.sec-sub-text-box{
    background-color: rgba(9, 9, 9, 0.55);
}

section {
    color: #FAF8D4; }

.form-box {
    background-color: rgba(0,0,0,0.6);
}    


html {
    width:100%;
    height:100%;
    background: url(../images/image\ option\ 2.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-color: cadetblue;
    background-repeat: no-repeat;
    overflow:hidden;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    

}

/*----------------------------------------------------------Header*/
h1 logo {
    text-decoration: none;
} 

.navbar {
    background-color: #EBEBD3;
    height: 60px;
    margin-bottom: 20px;
}

.logo {
    font-family: "Satisfy", sans-serif;
    text-transform: uppercase;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 1.21rem;
    font-weight: bold;
    letter-spacing:4px;
    
    }   
 
    .navbar-toggler{
        font-size: 1rem;
        padding: 2px;
        border-radius: 2px;
    }

#menu {
    font-family: "Roboto", sans-serif;
    font-size:15px;
    font-weight: normal;
   }

#menu li {
    margin-right: 30px;
    margin-top: 30px;
}

#menu li a {
    text-decoration: none;
    letter-spacing: 1.6px;
    
}


/*----------------------------------------------------------Footer*/

footer {
    position:relative;
    bottom:0;
    height: 5vh;
    text-align: center;
}

 .name {
     font-family: "Satisfy", sans-serif;
     font-size: 20px;
     font-weight: normal;
     text-transform: capitalize;
     text-decoration:none;
     color: aliceblue;
 }

 .social-links {
     margin-right: 30px;
    
 }

 .social-links li a i {
        height: 20px;
        width: 25px;
        border-radius: 20%;
        padding: 10px;
        font-size: 16px;
        line-height: 7px;
        font-size: 16px;
        text-align: right;
     }

 


/*----------------------------------------------------------Section*/
 section {
     margin-top: 90px;
     margin-bottom: 12px;
     text-align: center;
 }

.first-sect {
    height: 350px;
    width: 100%;
}

.sec-main-text { 
    font-family: "Satisfy", sans-serif;
    font-size: 25px;
    font-weight: 200;
    margin-left: 30px;
    margin-top: 70px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.sec-sub-text-box {
        height: 200px;
        width:250px;
        margin: auto;
        border-radius: 10px;
        padding: 4px;
        display:block;
        justify-content: center;
        align-items: center;
        
        

}

.sec-sub-text {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 50px;
    text-transform: capitalize;
}

button {
    margin-top: 20px;
    padding:12px;
    border-radius: 10px;
    background-color: #2364AA;
    color: #ffffff; 
}

.recommend-button {
    font-size: 12px;
}


/*----------------------------------------------------------Form*/

.form-box {
    height: 400px;
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
}


section {
    height: 60vh;
}



